<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Self introduction</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->	
                <article id="post-1" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/111.PNG" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4>Anything is possible</h4>                                                        
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/333.PNG" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4>매사에 긍정적인 방향으로</h4>
                                                        <p>업무 및 대인관계를 중요시 합니다.</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/222.PNG" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4>다양한 시각으로 업무방향을 바라보며</h4>
                                                        <p>남들과는 차별화된 아이디어를 구현화시켜 Only.1 을 향하는 것이 목표입니다.</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >Introduce myself.</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-comment"></i> YeonWoo Seong</li>
                                            <li><i class="glyphicon glyphicon-time"></i> Sys.16.14:32</li>                                            
                                            <li><i class="glyphicon glyphicon-tag"></i> self introduction</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> 매 사 꼼꼼하게 업무에 임하도록 노력하고 있습니다. 회사 총 경력 5년 6개월  , 개발 경력 4년 7개월 동안 많은 윗 간부님들 , 동기분들 ,  아랫사원분들  그리고  고객분들과 이야기를 나누며 개발에 임했습니다 적은 인원에 많은 일....</p></div>
                                    </div>
                                </div>	

                                <a href="#post-1" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->            

            </section>

            <!-- End Page Blog -->



            <!-- Page Blog - Post 1 -->
            <section id="post-1-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-2" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/111.PNG" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>시작과 중간은 넘어지더라도</h4>
                                                        <p>끝에는 웃을 수 있게 업무에 임합니다.</p>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/333.PNG" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>매사에 긍정적인 방향으로</h4>
                                                        <p>업무 및 대인관계를 중요시 합니다.</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/222.PNG" alt="">
                                                    <div class="carousel-caption">
                                                        <h4>다양한 시각으로 업무방향을 바라보며</h4>
                                                        <p>남들과는 차별화된 아이디어를 구현화시켜 Only.1 을 향하는 것이 목표입니다.</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="title_content">
                                <div class="text_content">INTRODUCE MYSELF.</div>
                                <div class="clear"></div>
                            </div>

                            <p class="caps">회사 총 경력 5년 6개월  , 개발 경력 4년 7개월 동안 많은 윗 간부님들 , 동기분들 ,  아랫사원분들 그리고  고객분들과 이야기를 나누며 개발에 임했습니다.</p>
                            <p>적은 인원에 많은 일들을 하다보니 프론트 , 백앤드 , DBA , 퍼블리싱 , 고객과의 대화 등 각 분야별로 고급까지는 아니지만 제 경력에 맞는 의사소통을 할 수 있습니다.</p>
                            <p>많은 업무 기간들에 있어 제가 못한 부분에 대해서는 깊게 반성하고 쉽게 떨쳐버리며 마음을 다잡고 눈아픈 야근과 철야를 통해 부족한 자신을 쌓아올려, 시작은 흔들렸어도 그 끝에는 항상 웃으며 인정받으며 잘 마무리 했습니다.</p>
                            <p>일 처리에 있어서 합리적이며 올바른 방향을 추구하며 무엇보다 업무 수행 중 이해가 되지 않는것에서는 모든것을 내려놓고 제가 완벽하게 해당 업무에 100% 이해가 되고 응용할 줄 알때까지 모든 방법을 동원하는것에 대하여 마다하지 않습니다.</p>
                            <p>책임을 서로 미루는 IT 업계에서 저만큼은 아니라는것을 5년이라는 짧은 기간이지만 모두 증명하였고 앞으로의 업무에서도 증명할 것입니다 </p>
                            <p>잘 부탁드립니다.</p>

                            <div class="col-md-12 first">
                                <div class="info">
                                    <div>
                                        <span class="tag">#JAVA</span>
                                        <span class="tag">#ORACLE</span>
                                        <span class="tag">#EGOV</span>
                                        <span class="tag">#NEXACRO14</span>
                                        <span class="tag">#MYBATIS</span>
                                        <span class="tag">#JAVASCRIPT</span>
                                        <span class="tag">#jQuery</span>
                                        <span class="tag">#ERD</span>
                                        <span class="tag">#Customer-meeting</span>
                                    </div>

                                  
                                </div>
                           <div class="col-md-12"  style="margin-top: 20px;">
                                    <a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> 메인으로 </a>
                           </div>
                        </article>
                    </div>                    
                </div>
            </section>
        </div>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title h3_modal" style="color: #fff !important;">FlexyVcard - Responsive Vcard Template</h3>
                    </div>
                    <div class="modal-body">
                        <p>yeonwoo</p>
                        <p>seong</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

