<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Sung YeonWoo</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>이름</label>
                <span class="value">성연우</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>생년월일</label>
                <span class="value">1991.11.06</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>주소</label>
                <span class="value">경기도 의정부시 녹양동 62-12</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">syw72001328@daum.net</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+82 (010) 4592-4962</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">kiteraincastle.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            개발자의 시각에만 갇혀있지 않고 기획/설계/개발/유지보수/고객응대 등 다양한 장르의 업무를 겪으며 사회에 걸음마를 내딛고 있습니다.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            다소 어려운 상황이라도 그 끝에서 웃는 사람을 목표로 하고 있습니다.
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/logo_1.jpg" alt="" />
            <img src="images/img-profile/logo_2.jpg" alt="" />
            <img src="images/img-profile/logo_3.jpg" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">풀스택을 목표로 업무에 임하고 있습니다.</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Front</h6>
                    <p>퍼블리싱 - 자바스크립트 등 backEnd로 값을 전달하기 위한 ajax등 작업능력</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>All Back_End</h6>
                    <p>MVC pattern의 요소들과 DBA 까지의 작업능력</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>고객과의 대화</h6>
                    <p>고객의 needs를 잘 파악하여 업무에 녹여내는 작업능력</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->




<div class="clear"></div>
</div>
<!-- End .profile -->
